# Python build / install artifacts
*.egg-info/
__pycache__/
*.pyc
*.pyo
build/
dist/

# Virtual environments
.venv/
venv/

# Test / output dirs (created by extract subcommand)
out/
.pytest_cache/
.ruff_cache/
